.box1{
    width: 100%;
    background-color:yellow;
    border: 0;
}
.box h2{
    position: relative;
    right: 50%;
}
.box{
    background-color: red;
    width: 40%;
    height: 300px;
    position: relative;
}
.box h1{
    position: absolute;
    bottom: 0;
}
.box2{
    height: 500px;
    width: 40%;
    background-color: darkgreen;
}
.b{
    background-color: black;
    width: 40px;
    height: 40px;
    margin: 3px;
    float: right;
}